@import '../../../styles/variables.scss';

.button {
    display: flex;
    width: 100%;
    padding: 13px 0px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #fff;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    height: 44px;
    background-color: $text-color-main;
    transition: background 0.3s ease;
    position: relative;

    &:active {
        border: 1px solid #fff;
        background: darken($text-color-main, 10%);
    }
}

.button-label {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    overflow: hidden;

    & > img {
        width: 24px;
        height: min-content;
        object-fit: contain;
    }
}
