@import '../../../styles/variables.scss';

.container {
    position: relative;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.textarea-container {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.label {
    color: $text-color-main;
    font-size: 14px;
    font-weight: 500;
    width: fit-content;
    cursor: pointer;
}

.textarea {
    padding: 13px 16px;
    color: $text-color-main;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #dadada;
    resize: none;
    height: 150px;

    &::placeholder {
        color: $text-color-secondary;
    }
}
